body{
    background-color: black;
    color: white;
}
#app{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.score{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content:space-around;    
}

.score p{
    width: 33%;
    text-align: center;
}

.button {
    display: flex;
    width: 50%;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
}
 
.button button {
    color: white;
    border: none;
    background-color: blue;
    text-align: center;
    font-size: 3vh;
    /* line-height: 100%; */
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    width: 25vmin;
    height: 25vmin;
    line-break: strict;
    border-radius: 20% !important;
}
